/* EventForm.css */
.event-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.event-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #0056b3;
}

.event-label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
    color: #333;
}

.event-input,
.event-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.event-textarea {
    resize: vertical;
}

.event-error {
    color: red;
    font-size: 0.9em;
}

.event-button {
    
    background-color: white;
    color: #0056b3;
    font-weight: bold;
    border: 1px solid #0056b3;

    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 35%;
    font-size: 16px;
    margin-top: 20px;
}

.event-button:hover {
    
    background-color: #0056b3;
    color: white;
    border: none;
}

.event-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .event-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-field {
    margin-bottom: 15px;
  }
  
  .event-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .event-input,
  .event-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .event-button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .event-button:hover {
    background-color: #0056b3;
  }
  
  .event-error {
    color: red;
    font-size: 0.875em;
  } */
  