.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent !important;
    h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        color: #666;
      }

  }
  .spinner {
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #0056b3;
    animation: spin 1s ease-in-out infinite;
    margin-bottom: 20px;
    background-color: transparent !important;
  }
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
 
  .loading-icon{
    font-size: 34px;
    color:#0056b3;
  }