.favorite-event-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    height: 290px !important;
    transition: transform 0.2s;
  }
  
  .favorite-event-card:hover {
    transform: translateY(-5px);
  }
  
  .favorite-card-item{
    height: 230px;
    display: flex;
    padding: 0 50px 0 50px;
    justify-content: space-between;
  }

  .fav-eve-page-no-fav{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0056B3;
    font-size: 50px;

  }

  

  @keyframes bounceInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes bounceInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .bounceInLeft {
    animation: bounceInLeft 3s ease-out forwards;
  }
  
  .bounceInRight {
    animation: bounceInRight 3s ease forwards;
  }
  