.user-event-management {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    margin-bottom: 20px;
    width: 25%;
}

.user-event-management button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.user-event-management .search-input {
    padding: 10px;
    margin-left: auto; /* Aligns input to the right */
    border: 1px solid #ccc;
    border-radius: 4px;
}
