.login-bg{
    background-color: #0056B3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.login-card{
    background-color: white;
    height: 80vh;
    width: 80vw;
    display: flex;
    
}